<a href="pessoas/cadastrar">CADASTRAR</a>

<table>
    <tr>
        <th>CPF</th>
        <th>NOME</th>
        <th>EMAIL</th>
        <th>TELEFONE</th>
        <th>PERFIL</th>
    </tr>

    {{#each pessoas}}
        <tr>
            <td>{{cpf}}</td>
            <td>{{nome}}</td>
            <td>{{email}}</td>
            <td>{{telefone}}</td>
            <td>
                <a href="/pessoas/perfil?id={{id}}" class="btn btn-primary btn-sm">Ver</a>
            </td>
        </tr>
    {{/each}}
</table>